*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #181818;
}

form{
    height: 600px;
    width: 780px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 53%;
    left: 50%;
    border-radius: 10px;
    /* backdrop-filter: blur(10px); */
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

h1,form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

h1{
  text-align: center;
  margin-top: 220px;
}

label{
    display: block;
    font-size: 16px;
    font-weight: 500;
}

label:first-child{
  margin-top: 20px;
  font-size: 1.1rem;
}

input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    font-size: 1.1rem;
}

select,option{
  color: black;
  padding: 7px;
  margin-top: 5px;
}

.button{
  background-color: #F64740 ;
  font-size: 1.1rem;
  margin-top: 40px;
}

#EtoT{
  background-color: #1F72BD;
  margin-top: 10px;
}

